Running a Lasso Regression in AMPL
========
Warning:
This should run without issues, with the only caviat being that you do need to download the ACS_Data from the current dropbox [link](https://www.dropbox.com/scl/fo/9qaa9gklqv7mwizzpc722/AJTI4hRW-Pg87fM9hONwdNs?rlkey=qn84kwnwcvw71mm6emykavtar&st=lhj8sd6x&dl=0). Once downloaded please put into the data file with the name 'ACS_Data.csv'. 


Loading in Cars Data
------------------------------
First we need to go ahead and load in the cars csv file into AMPL, the process is done using pandas. We tried using AMPL's [best practices](https://dev.ampl.com/ampl/best-practices/amplpy-best-practices.html) for loading in the data. 

Now first let's go ahead and load in all of our packages while also making sure we are in the parent directory to access all of the files.

In [1]:
import pandas as pd 
import numpy as np
import os
from amplpy import AMPL
from sklearn.preprocessing import StandardScaler
from amplpy import DataFrame
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
os.chdir("..")
os.getcwd()

'/Users/kevin/Documents/GitHub/Math5593LinearProgrammingProject'

Now lets take a look at the head of the data while also doing some summary statistics.

In [2]:
# Loading in our data
cars = pd.read_csv("data/mtcars.csv", index_col = 0)

# Lets add in a column of 1's in order to have a constant in our regression. 
cars.insert(0, 'intercept', 1)

cars

,intercept,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,,
Mazda RX4,1,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,1,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,1,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,1,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,1,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,1,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,1,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,1,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,1,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,1,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,1,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,1,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,1,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,1,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,1,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,1,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,1,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,1,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,1,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,1,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,1,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,1,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,1,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,1,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,1,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,1,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,1,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,1,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,1,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,1,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,1,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,1,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3]:
cars.describe()

,intercept,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.0,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,1.0,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,0.0,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,1.0,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,1.0,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,1.0,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,1.0,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,1.0,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

Now that we have our data loaded, we need to turn our data into something that is acceptable by AMPL. The way to do this is by first noticing that our .mod file has two sets one for observations and one for coefficients. Thus, in order to load in the data we first need it in wide format where we should have something like the following for our X variables:

| Individual I | Variable J | Value |
|--------------|------------|-------|
| Mazda RX-4   | MPG        | 21    |
| Mazda RX-4   | Cyl        | 6     |

Then from this point it is pretty simple to load in the data into AMPL with our .setdata command.

In [ ]:

# Getting data into long format, lets drop the model column since we 
cars

# Make sure that we know in our index which one is our y and X'
y = cars["mpg"]

# Noticed that we choose only the easy numeric predictors for this example
X = cars[["cyl", "disp", "hp", "wt", "qsec"]]

# Getting our labels for our X's or variables
J = X.columns.tolist()
J

cars_sub = X

# Lets standardize the data so that later when doing cross validation we are working with the same things.
scaler = StandardScaler()
cars_sub_scaled = scaler.fit_transform(cars_sub)
cars_sub_scaled_df = pd.DataFrame(cars_sub_scaled, columns= cars_sub.columns, index = cars_sub.index)

#Lets add in an interncept 
cars_sub_scaled_df.insert(0, 'intercept', 1)

cars_long = cars_sub_scaled_df.stack().reset_index()
cars_long.columns = ["Car", "Variable", "Value"]

# Since we are using AMPL we need to get rid of vairables with string names
cars_long = cars_long[pd.to_numeric(cars_long["Value"], errors="coerce").notnull()]

cars_long.head(15)

              Car   Variable     Value
0       Mazda RX4  intercept  1.000000
1       Mazda RX4        cyl -0.106668
2       Mazda RX4       disp -0.579750
3       Mazda RX4         hp -0.543655
4       Mazda RX4         wt -0.620167
5       Mazda RX4       qsec -0.789601
6   Mazda RX4 Wag  intercept  1.000000
7   Mazda RX4 Wag        cyl -0.106668
8   Mazda RX4 Wag       disp -0.579750
9   Mazda RX4 Wag         hp -0.543655
10  Mazda RX4 Wag         wt -0.355382
11  Mazda RX4 Wag       qsec -0.471202
12     Datsun 710  intercept  1.000000
13     Datsun 710        cyl -1.244457
14     Datsun 710       disp -1.006026

In [5]:
# Building our sets dataframes
df_car = cars.index.to_frame(name="Model")

df_var = pd.DataFrame({"Variables": ["intercept","cyl", "disp", "hp", "wt", "qsec"]})

# Loading in our actual data parameters
df_y = pd.DataFrame({
    "Car": cars.index.astype(str),   
    "y": cars["mpg"].values
})

df_y_indexed = df_y.set_index("Car")

# Using the cars_long dataframe we can then subset it
df_x = cars_long
df_x["Car"] = df_x["Car"].astype(str)
df_x["Variable"] = df_x["Variable"].astype(str)
df_x["Value"] = df_x["Value"].astype(float)

# Quick rename so that the variables match up the LP
df_x_fixed = df_x.rename(columns={
    "Variable": "Variables",
    "Value": "x"
})

# Now with this final one we actually get the variables in working shape to be loaded into AMPL by using the cars and varaibles dictionary. 
x_dict = df_x_fixed.set_index(['Car', 'Variables'])['x'].to_dict()
print(df_car.head(5))
print(df_var.head(5))
print(df_y_indexed.head(5))
print(df_x.head(5))

                               Model
model
Mazda RX4                  Mazda RX4
Mazda RX4 Wag          Mazda RX4 Wag
Datsun 710                Datsun 710
Hornet 4 Drive        Hornet 4 Drive
Hornet Sportabout  Hornet Sportabout
   Variables
0  intercept
1        cyl
2       disp
3         hp
4         wt
                      y
Car
Mazda RX4          21.0
Mazda RX4 Wag      21.0
Datsun 710         22.8
Hornet 4 Drive     21.4
Hornet Sportabout  18.7
         Car   Variable     Value
0  Mazda RX4  intercept  1.000000
1  Mazda RX4        cyl -0.106668
2  Mazda RX4       disp -0.579750
3  Mazda RX4         hp -0.543655
4  Mazda RX4         wt -0.620167

Loading in The Model
======================

We want to make sure to load in the correct model using our 'L Reg Attempt.mod' file

Where our model is the following: 
## Sets
- $i \in \text{Car}$
- $j \in \text{Variables}$

---

## Parameters
- $y_i$: response variable  
- $x_{ij}$: predictor matrix  
- $t$: L1 (lasso) budget  

---

## Decision Variables
- $b_j^+ \ge 0$  
- $b_j^- \ge 0$  

for all $j \in \text{Variables}$

---

## Objective Function (Least Squares)

$$
\min_{b^+, b^-} 
\sum_{i \in \text{Car}}
\left( 
y_i - \sum_{j \in \text{Variables}} (b_j^+ - b_j^-) x_{ij}
\right)^2
$$

---

## Constraint (L1 Budget)

$$
\sum_{j \in \text{Variables}} (b_j^+ + b_j^-) \le t
$$

In [ ]:
# Lets load in our ampl model first
Lasso_Regression = AMPL()
Lasso_Regression.reset()
Lasso_Regression.read("models/L Reg Attempt.mod")

#Making sure we got the correct sets and parameters from the model. 

# Sets that need to be loaded in 
print("SETS:")
for s in Lasso_Regression.get_sets():
    print(" -", s)

# Parameters that need to be loaded in
print("\nPARAMETERS:")
for p in Lasso_Regression.get_parameters():
    print(" -", p)

SETS:
 - ('Car', <amplpy.ampl.Set object at 0x2b888f7e0>)
 - ('Variables', <amplpy.ampl.Set object at 0x2b888f740>)

PARAMETERS:
 - ('y', <amplpy.ampl.Parameter object at 0x2b888f4c0>)
 - ('x', <amplpy.ampl.Parameter object at 0x2b888f7e0>)
 - ('t', <amplpy.ampl.Parameter object at 0x2b888f4c0>)

Loading in The Data
----------------
Now here we are actually loading in our data into the model. However, this process is a little difficult since it is hard to dictate exactly what should be a set or a parameter using the set_data function. Instead we used the .set and .param function while also using the .get_parameter and .set_value funcitions.

Loading in Our Sets
-----

In [ ]:
#Loading in our cars set
Lasso_Regression.set["Car"] = df_car["Model"].astype(str)

# Checking that our dataset got loaded in correctly
print(Lasso_Regression.get_set("Car").get_values().to_pandas())

#Loading in the variables set
Lasso_Regression.set["Variables"] = df_var["Variables"].astype(str)

# Checking that our dataset got loaded in correctly
print(Lasso_Regression.get_set("Variables").get_values().to_pandas())

Empty DataFrame
Columns: []
Index: [Mazda RX4, Mazda RX4 Wag, Datsun 710, Hornet 4 Drive, Hornet Sportabout, Valiant, Duster 360, Merc 240D, Merc 230, Merc 280, Merc 280C, Merc 450SE, Merc 450SL, Merc 450SLC, Cadillac Fleetwood, Lincoln Continental, Chrysler Imperial, Fiat 128, Honda Civic, Toyota Corolla, Toyota Corona, Dodge Challenger, AMC Javelin, Camaro Z28, Pontiac Firebird, Fiat X1-9, Porsche 914-2, Lotus Europa, Ford Pantera L, Ferrari Dino, Maserati Bora, Volvo 142E]
Empty DataFrame
Columns: []
Index: [intercept, cyl, disp, hp, wt, qsec]

Loading in Our Y Parameter (Dependent Variable)
-----

In [8]:
#Now lets load in some of our actual data 
Lasso_Regression.param["y"] = df_y_indexed["y"]
print(Lasso_Regression.get_parameter("y").get_values().to_pandas())

                        y
AMC Javelin          15.2
Cadillac Fleetwood   10.4
Camaro Z28           13.3
Chrysler Imperial    14.7
Datsun 710           22.8
Dodge Challenger     15.5
Duster 360           14.3
Ferrari Dino         19.7
Fiat 128             32.4
Fiat X1-9            27.3
Ford Pantera L       15.8
Honda Civic          30.4
Hornet 4 Drive       21.4
Hornet Sportabout    18.7
Lincoln Continental  10.4
Lotus Europa         30.4
Maserati Bora        15.0
Mazda RX4            21.0
Mazda RX4 Wag        21.0
Merc 230             22.8
Merc 240D            24.4
Merc 280             19.2
Merc 280C            17.8
Merc 450SE           16.4
Merc 450SL           17.3
Merc 450SLC          15.2
Pontiac Firebird     19.2
Porsche 914-2        26.0
Toyota Corolla       33.9
Toyota Corona        21.5
Valiant              18.1
Volvo 142E           21.4

Loading in Our X Parameter (Independent Variables)
-----
Loading in the parameter with two indices for the sets was a difficult task. However, here it is displayed in a manner so that it shows that it is thankfully done right. Where if you go to previous codes for x_dict where you then notice that in order for it to be loaded right into AMPL you needed to set it's indecies within the pandas dataframe first then you can actually run it through the api.

In [9]:
Lasso_Regression.get_parameter("x").set_values(x_dict)
print(Lasso_Regression.get_parameter("x").get_values().to_pandas())

                              x
index0      index1
AMC Javelin cyl        1.031121
            disp       0.600705
            hp         0.049086
            intercept  1.000000
            qsec      -0.312002
...                         ...
Volvo 142E  disp      -0.899457
            hp        -0.558473
            intercept  1.000000
            qsec       0.427138
            wt        -0.454027

[192 rows x 1 columns]

Loading in Our "t" Parameter
------------
Our t parameter in our model is the L1 regulaization budget so it is just a possitive value. It is done in a way to show how much total absolute coefficent magintude is allowed in our model. Baisacally thelimits the sum of the absolute value variables in our model for the betas.

In [10]:
Lasso_Regression.param['t'] = 5.65

Running the Model
======================
So now that we have the model and data loaded into our ampl we can finally start the process of solving the regression. 

Sanity Check Using Regular Methods
-----------

In [11]:
mtcars = pd.read_csv("data/mtcars.csv")
X = mtcars[["cyl", "disp", "hp", "wt", "qsec"]]
y = mtcars['mpg']

# Standardize features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# Add constant for intercept
X_scaled_df = sm.add_constant(X_scaled_df)

model = sm.OLS(y, X_scaled_df)
results = model.fit_regularized(method='elastic_net', L1_wt=1.0, alpha=0.1)

for variable, coefficient in results.params.items():
    print(f"{variable}: {round(coefficient, 5)}")

const: 19.99062
cyl: -1.64261
disp: 0.0
hp: -1.16402
wt: -2.99486
qsec: 0.0

Running Our LP Model
------------
Now let's go ahead and run our method.

In [12]:
# Lets go ahead an set our solver to highs
Lasso_Regression.set_option('solver', 'highs')
Lasso_Regression.set_option('highs_options', 'primal_feasibility_tolerance=1e-9 dual_feasibility_tolerance=1e-9')

Lasso_Regression.solve()
beta_pos = Lasso_Regression.get_variable('bplus').get_values()
beta_neg = Lasso_Regression.get_variable('bminus').get_values()

bp = beta_pos.to_pandas()
bn = beta_neg.to_pandas()  

print(bp)
print(bn)

HiGHS 1.11.0:   alg:feastol = 1.0000000000000001e-09
  alg:dualfeastol = 1.0000000000000001e-09
HiGHS 1.11.0: optimal solution; objective 178.5793867
0 simplex iterations
0 barrier iterations
           bplus.val
cyl         0.000000
disp        0.000000
hp          0.000000
intercept  20.090625
qsec        0.018310
wt          0.000000
           bminus.val
cyl          1.615344
disp         0.000000
hp           1.080435
intercept    0.000000
qsec         0.000000
wt           2.935911

Lets calculate the actual beta estimates

In [13]:
betas = bp['bplus.val'] - bn['bminus.val']

print(betas, 'Final Betas')

cyl          -1.615344
disp          0.000000
hp           -1.080435
intercept    20.090625
qsec          0.018310
wt           -2.935911
dtype: float64 Final Betas

So as we can see the beta estiames from our statsmodel package and our actaul LP they are very similar, the differences might be because of whats under the hood of the statsmodel package with some of their own datawork and solververs. Thus it the small differences in betas. However, we do see that big difference in that qsec is not fully out of the model like it is in the statsmodel. Thus, it might be worth it to explore further however, due to time constraints we might have to live with this discrepancy especially since it is very small effect that the qsec has on our actual prediction.

Using Real World Data
=====================
Using data from the ACS from 2010-2025 with transportation occupation we estimated a simple regression on wage considering the factors of age schoolyr schoolyr^2 and hoursworked and gender. The process is the exact same as done for the cars dataset, however, here we take a sample of 800 for numerical computaion being easier for computing resources.

In [14]:

ACS_subset = pd.read_csv(
    "data/ACS_Data.csv",
    usecols=["age", "wage", "schoolyr", "schoolyr2", "uhrswork", "female"]
)

ACS_subset.head()

   age  uhrswork  female       wage  schoolyr  schoolyr2
0   25        20       0  16.666666      18.0      324.0
1   26        20       1  12.745098      13.0      169.0
2   33        40       0  13.725491      16.0      256.0
3   29        50       1  17.647058      13.0      169.0
4   27        40       0  13.725491      12.0      144.0

In [15]:
# Getting data into long format, lets drop the model column since we 
ACS_subset

# Make sure that we know in our index which one is our y and X'
y = ACS_subset["wage"]

# Noticed that we choose only the easy numeric predictors for this example
X = ACS_subset[["age", "schoolyr", "schoolyr2","uhrswork","female"]]

# Getting our labels for our X's or variables
J = X.columns.tolist()
J

ACS_subset_sub = X

# Lets standardize the data so that later when doing cross validation we are working with the same things.
 
scaler = StandardScaler()
ACS_subset_sub_scaled = scaler.fit_transform(ACS_subset_sub)
ACS_subset_sub_scaled_df = pd.DataFrame(ACS_subset_sub_scaled, columns= ACS_subset_sub.columns, index = ACS_subset_sub.index)

#Lets add in an interncept 
ACS_subset_sub_scaled_df.insert(0, 'intercept', 1)

ACS_subset_long = ACS_subset_sub_scaled_df.stack().reset_index()
ACS_subset_long.columns = ["Car", "Variable", "Value"]

# Since we are using AMPL we need to get rid of vairables with string names
ACS_subset_long = ACS_subset_long[pd.to_numeric(ACS_subset_long["Value"], errors="coerce").notnull()]

ACS_subset_long.head(15)

    Car   Variable     Value
0     0  intercept  1.000000
1     0        age -1.747639
2     0   schoolyr  1.371532
3     0  schoolyr2  1.550558
4     0   uhrswork -2.757519
5     0     female -0.951446
6     1  intercept  1.000000
7     1        age -1.648147
8     1   schoolyr -0.397049
9     1  schoolyr2 -0.511317
10    1   uhrswork -2.757519
11    1     female  1.051031
12    2  intercept  1.000000
13    2        age -0.951701
14    2   schoolyr  0.664099

In [ ]:
# Car set
df_car = ACS_subset.index.astype(str).to_frame(name="Car")

# Variables set
df_var = pd.DataFrame({
    "Variables": ["intercept","age", "schoolyr", "schoolyr2","uhrswork","female"]
})

# y parameter
df_y = pd.DataFrame({
    "Car": ACS_subset.index.astype(str),
    "y": ACS_subset["wage"].values
}).set_index("Car")

# x parameter (FAST SAFE VERSION)
df_x = ACS_subset_long.copy()
df_x["Car"] = df_x["Car"].astype("string")
df_x["Variable"] = df_x["Variable"].astype("string")
df_x["Value"] = pd.to_numeric(df_x["Value"], errors="coerce")

df_x_fixed = df_x.rename(columns={
    "Variable": "Variables",
    "Value": "x"
})

# Debug prints (FAST)
print(df_car.head())
print(df_var.head())
print(df_y.head())
print(df_x_fixed.head())

  Car
0   0
1   1
2   2
3   3
4   4
   Variables
0  intercept
1        age
2   schoolyr
3  schoolyr2
4   uhrswork
             y
Car
0    16.666666
1    12.745098
2    13.725491
3    17.647058
4    13.725491
  Car  Variables         x
0   0  intercept  1.000000
1   0        age -1.747639
2   0   schoolyr  1.371532
3   0  schoolyr2  1.550558
4   0   uhrswork -2.757519

In [ ]:
sampled_cars = df_car.sample(800, random_state=1)["Car"].values
df_x_test = df_x_fixed[df_x_fixed["Car"].isin(sampled_cars)]


x_dict_test = df_x_test.set_index(['Car', 'Variables'])['x'].to_dict()
x_dict_test
# Get only the sampled Car values
sampled_cars = df_x_test["Car"].unique()

# Subset Car set
df_car_test = df_car[df_car["Car"].isin(sampled_cars)]
df_y_test = df_y.loc[sampled_cars]

df_car_test

               Car
2737          2737
44976        44976
84484        84484
127323      127323
131266      131266
...            ...
26317098  26317098
26388754  26388754
26402003  26402003
26415306  26415306
26488091  26488091

[800 rows x 1 columns]

In [18]:
# Lets load in our ampl model first
ampl = AMPL()
ampl.reset()
ampl.read("models/L Reg Attempt.mod")

#Making sure we got the correct sets and parameters from the model. 
#Loading in our cars set
ampl.set["Car"] = df_car_test["Car"].astype(str)

## Checking that our dataset got loaded in correctly
print(ampl.get_set("Car").get_values().to_pandas())

#Loading in the variables set
ampl.set["Variables"] = df_var["Variables"].astype(str)

## Checking that our dataset got loaded in correctly
print(ampl.get_set("Variables").get_values().to_pandas())

ampl.param["y"] = df_y_test
ampl.param["x"] = x_dict_test
ampl.param["t"] = 21.02
x_dict_test

Empty DataFrame
Columns: []
Index: [2737, 44976, 84484, 127323, 131266, 181829, 201552, 263152, 383965, 394038, 475876, 485835, 495001, 495671, 539929, 560850, 573759, 582279, 592455, 609414, 613282, 676176, 758652, 759902, 765569, 767137, 795948, 854339, 929077, 936320, 973936, 1034963, 1120642, 1133382, 1152371, 1153707, 1172331, 1218986, 1240122, 1247651, 1257083, 1294661, 1358970, 1379405, 1381133, 1382054, 1410156, 1466541, 1584835, 1615731, 1649018, 1691926, 1732214, 1779114, 1781427, 1900217, 1903973, 1914780, 1947436, 1965251, 1982261, 2011631, 2043113, 2055629, 2067068, 2075814, 2076997, 2106892, 2118654, 2191130, 2198431, 2229267, 2293105, 2326764, 2336011, 2344765, 2366479, 2367521, 2433076, 2443157, 2465055, 2477453, 2526501, 2529395, 2605312, 2642252, 2671277, 2773290, 2782752, 2821948, 2884529, 2947408, 2984408, 2995442, 3005736, 3036718, 3043308, 3070473, 3075041, 3075905, ...]

[800 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [intercept, age, schoolyr, schoolyr2, uhrswork, female]

{('2737', 'intercept'): 1.0,
 ('2737', 'age'): 0.3416989600369412,
 ('2737', 'schoolyr'): -0.04333326182879369,
 ('2737', 'schoolyr2'): -0.15215152049870165,
 ('2737', 'uhrswork'): 2.428544170817644,
 ('2737', 'female'): -0.951446324098608,
 ('44976', 'intercept'): 1.0,
 ('44976', 'age'): -0.8522085888541054,
 ('44976', 'schoolyr'): 0.6640991323765276,
 ('44976', 'schoolyr2'): 0.645993501350706,
 ('44976', 'uhrswork'): 0.4837705376235001,
 ('44976', 'female'): -0.951446324098608,
 ('84484', 'intercept'): 1.0,
 ('84484', 'age'): -0.2552548144085821,
 ('84484', 'schoolyr'): 0.6640991323765276,
 ('84484', 'schoolyr2'): 0.645993501350706,
 ('84484', 'uhrswork'): -0.1644873401078812,
 ('84484', 'female'): 1.0510314398948266,
 ('127323', 'intercept'): 1.0,
 ('127323', 'age'): -0.15576251866766155,
 ('127323', 'schoolyr'): 0.6640991323765276,
 ('127323', 'schoolyr2'): 0.645993501350706,
 ('127323', 'uhrswork'): -0.1644873401078812,
 ('127323', 'female'): -0.951446324098608,
 ('131266', 'intercept'): 1.0,
 ('131266', 'age'): -0.2552548144085821,
 ('131266', 'schoolyr'): -0.04333326182879369,
 ('131266', 'schoolyr2'): -0.15215152049870165,
 ('131266', 'uhrswork'): -0.1644873401078812,
 ('131266', 'female'): 1.0510314398948266,
 ('181829', 'intercept'): 1.0,
 ('181829', 'age'): 0.7396681430006234,
 ('181829', 'schoolyr'): -0.3970494589314543,
 ('181829', 'schoolyr2'): -0.5113167803309351,
 ('181829', 'uhrswork'): -0.1644873401078812,
 ('181829', 'female'): -0.951446324098608,
 ('201552', 'intercept'): 1.0,
 ('201552', 'age'): -1.5486546590405492,
 ('201552', 'schoolyr'): -3.049920937201409,
 ('201552', 'schoolyr2'): -2.35702714335769,
 ('201552', 'uhrswork'): -0.8127452178392626,
 ('201552', 'female'): -0.951446324098608,
 ('263152', 'intercept'): 1.0,
 ('263152', 'age'): -0.056270222926741,
 ('263152', 'schoolyr'): -0.04333326182879369,
 ('263152', 'schoolyr2'): -0.15215152049870165,
 ('263152', 'uhrswork'): 0.4837705376235001,
 ('263152', 'female'): 1.0510314398948266,
 ('383965', 'intercept'): 1.0,
 ('383965', 'age'): 0.24220666429602067,
 ('383965', 'schoolyr'): 2.07896392078717,
 ('383965', 'schoolyr2'): 2.5615415537892843,
 ('383965', 'uhrswork'): -0.8127452178392626,
 ('383965', 'female'): 1.0510314398948266,
 ('394038', 'intercept'): 1.0,
 ('394038', 'age'): -0.4542394058904232,
 ('394038', 'schoolyr'): 0.6640991323765276,
 ('394038', 'schoolyr2'): 0.645993501350706,
 ('394038', 'uhrswork'): -0.1644873401078812,
 ('394038', 'female'): -0.951446324098608,
 ('475876', 'intercept'): 1.0,
 ('475876', 'age'): -0.951700884595026,
 ('475876', 'schoolyr'): 0.6640991323765276,
 ('475876', 'schoolyr2'): 0.645993501350706,
 ('475876', 'uhrswork'): -0.1644873401078812,
 ('475876', 'female'): -0.951446324098608,
 ('485835', 'intercept'): 1.0,
 ('485835', 'age'): -0.2552548144085821,
 ('485835', 'schoolyr'): -0.7507656560341149,
 ('485835', 'schoolyr2'): -0.8438772061015216,
 ('485835', 'uhrswork'): -0.1644873401078812,
 ('485835', 'female'): -0.951446324098608,
 ('495001', 'intercept'): 1.0,
 ('495001', 'age'): 1.3366219174461467,
 ('495001', 'schoolyr'): 0.6640991323765276,
 ('495001', 'schoolyr2'): 0.645993501350706,
 ('495001', 'uhrswork'): -0.1644873401078812,
 ('495001', 'female'): 1.0510314398948266,
 ('495671', 'intercept'): 1.0,
 ('495671', 'age'): 0.6401758472597029,
 ('495671', 'schoolyr'): -0.3970494589314543,
 ('495671', 'schoolyr2'): -0.5113167803309351,
 ('495671', 'uhrswork'): -0.1644873401078812,
 ('495671', 'female'): 1.0510314398948266,
 ('539929', 'intercept'): 1.0,
 ('539929', 'age'): 0.839160438741544,
 ('539929', 'schoolyr'): 1.3715315265818488,
 ('539929', 'schoolyr2'): 1.5505578594467013,
 ('539929', 'uhrswork'): -1.2016999444780914,
 ('539929', 'female'): 1.0510314398948266,
 ('560850', 'intercept'): 1.0,
 ('560850', 'age'): 0.1427143685551001,
 ('560850', 'schoolyr'): -0.04333326182879369,
 ('560850', 'schoolyr2'): -0.15215152049870165,
 ('560850', 'uhrswork'): -0.1644873401078812,
 ('560850', 'female'): 1.0510314398948266,
 ('573759', 'intercept'): 1.0,
 ('573759', 'age'): -0.951700884595026,
 ('573759', 'schoolyr'): -0.7507656560341149,
 ('573759', 'schoolyr2'): -0.8438772061015216,
 ('573759', 'uhrswork'): -1.8499578222094726,
 ('573759', 'female'): 1.0510314398948266,
 ('582279', 'intercept'): 1.0,
 ('582279', 'age'): 1.3366219174461467,
 ('582279', 'schoolyr'): -0.7507656560341149,
 ('582279', 'schoolyr2'): -0.8438772061015216,
 ('582279', 'uhrswork'): 1.2616799909011576,
 ('582279', 'female'): -0.951446324098608,
 ('592455', 'intercept'): 1.0,
 ('592455', 'age'): 1.5356065089279878,
 ('592455', 'schoolyr'): 0.6640991323765276,
 ('592455', 'schoolyr2'): 0.645993501350706,
 ('592455', 'uhrswork'): -0.1644873401078812,
 ('592455', 'female'): -0.951446324098608,
 ('609414', 'intercept'): 1.0,
 ('609414', 'age'): 0.9386527344824646,
 ('609414', 'schoolyr'): 1.3715315265818488,
 ('609414', 'schoolyr2'): 1.5505578594467013,
 ('609414', 'uhrswork'): -0.1644873401078812,
 ('609414', 'female'): -0.951446324098608,
 ('613282', 'intercept'): 1.0,
 ('613282', 'age'): 0.6401758472597029,
 ('613282', 'schoolyr'): -0.7507656560341149,
 ('613282', 'schoolyr2'): -0.8438772061015216,
 ('613282', 'uhrswork'): -0.1644873401078812,
 ('613282', 'female'): 1.0510314398948266,
 ('676176', 'intercept'): 1.0,
 ('676176', 'age'): 1.5356065089279878,
 ('676176', 'schoolyr'): 1.3715315265818488,
 ('676176', 'schoolyr2'): 1.5505578594467013,
 ('676176', 'uhrswork'): 1.6506347175399865,
 ('676176', 'female'): -0.951446324098608,
 ('758652', 'intercept'): 1.0,
 ('758652', 'age'): -0.8522085888541054,
 ('758652', 'schoolyr'): 0.6640991323765276,
 ('758652', 'schoolyr2'): 0.645993501350706,
 ('758652', 'uhrswork'): 0.4837705376235001,
 ('758652', 'female'): 1.0510314398948266,
 ('759902', 'intercept'): 1.0,
 ('759902', 'age'): 0.3416989600369412,
 ('759902', 'schoolyr'): 0.6640991323765276,
 ('759902', 'schoolyr2'): 0.645993501350706,
 ('759902', 'uhrswork'): 1.1320284153548814,
 ('759902', 'female'): -0.951446324098608,
 ('765569', 'intercept'): 1.0,
 ('765569', 'age'): 1.5356065089279878,
 ('765569', 'schoolyr'): -0.7507656560341149,
 ('765569', 'schoolyr2'): -0.8438772061015216,
 ('765569', 'uhrswork'): 1.1320284153548814,
 ('765569', 'female'): 1.0510314398948266,
 ('767137', 'intercept'): 1.0,
 ('767137', 'age'): -1.2501777718177876,
 ('767137', 'schoolyr'): 2.07896392078717,
 ('767137', 'schoolyr2'): 2.5615415537892843,
 ('767137', 'uhrswork'): -0.1644873401078812,
 ('767137', 'female'): 1.0510314398948266,
 ('795948', 'intercept'): 1.0,
 ('795948', 'age'): 0.24220666429602067,
 ('795948', 'schoolyr'): -0.7507656560341149,
 ('795948', 'schoolyr2'): -0.8438772061015216,
 ('795948', 'uhrswork'): 1.1320284153548814,
 ('795948', 'female'): -0.951446324098608,
 ('854339', 'intercept'): 1.0,
 ('854339', 'age'): 1.4361142131870672,
 ('854339', 'schoolyr'): -0.7507656560341149,
 ('854339', 'schoolyr2'): -0.8438772061015216,
 ('854339', 'uhrswork'): -0.1644873401078812,
 ('854339', 'female'): -0.951446324098608,
 ('929077', 'intercept'): 1.0,
 ('929077', 'age'): -1.6481469547814698,
 ('929077', 'schoolyr'): 1.3715315265818488,
 ('929077', 'schoolyr2'): 1.5505578594467013,
 ('929077', 'uhrswork'): -0.8127452178392626,
 ('929077', 'female'): 1.0510314398948266,
 ('936320', 'intercept'): 1.0,
 ('936320', 'age'): 0.04322207281417956,
 ('936320', 'schoolyr'): -0.04333326182879369,
 ('936320', 'schoolyr2'): -0.15215152049870165,
 ('936320', 'uhrswork'): 1.1320284153548814,
 ('936320', 'female'): 1.0510314398948266,
 ('973936', 'intercept'): 1.0,
 ('973936', 'age'): -0.056270222926741,
 ('973936', 'schoolyr'): -0.04333326182879369,
 ('973936', 'schoolyr2'): -0.15215152049870165,
 ('973936', 'uhrswork'): -0.1644873401078812,
 ('973936', 'female'): 1.0510314398948266,
 ('1034963', 'intercept'): 1.0,
 ('1034963', 'age'): 0.9386527344824646,
 ('1034963', 'schoolyr'): 0.6640991323765276,
 ('1034963', 'schoolyr2'): 0.645993501350706,
 ('1034963', 'uhrswork'): 2.428544170817644,
 ('1034963', 'female'): -0.951446324098608,
 ('1120642', 'intercept'): 1.0,
 ('1120642', 'age'): -0.35474711014950266,
 ('1120642', 'schoolyr'): -0.7507656560341149,
 ('1120642', 'schoolyr2'): -0.8438772061015216,
 ('1120642', 'uhrswork'): -0.1644873401078812,
 ('1120642', 'female'): -0.951446324098608,
 ('1133382', 'intercept'): 1.0,
 ('1133382', 'age'): 0.04322207281417956,
 ('1133382', 'schoolyr'): 0.6640991323765276,
 ('1133382', 'schoolyr2'): 0.645993501350706,
 ('1133382', 'uhrswork'): 0.4837705376235001,
 ('1133382', 'female'): -0.951446324098608,
 ('1152371', 'intercept'): 1.0,
 ('1152371', 'age'): -0.15576251866766155,
 ('1152371', 'schoolyr'): -0.3970494589314543,
 ('1152371', 'schoolyr2'): -0.5113167803309351,
 ('1152371', 'uhrswork'): 0.4837705376235001,
 ('1152371', 'female'): -0.951446324098608,
 ('1153707', 'intercept'): 1.0,
 ('1153707', 'age'): 1.038145030223385,
 ('1153707', 'schoolyr'): -0.04333326182879369,
 ('1153707', 'schoolyr2'): -0.15215152049870165,
 ('1153707', 'uhrswork'): -0.1644873401078812,
 ('1153707', 'female'): 1.0510314398948266,
 ('1172331', 'intercept'): 1.0,
 ('1172331', 'age'): 1.2371296217052261,
 ('1172331', 'schoolyr'): -0.3970494589314543,
 ('1172331', 'schoolyr2'): -0.5113167803309351,
 ('1172331', 'uhrswork'): -0.1644873401078812,
 ('1172331', 'female'): -0.951446324098608,
 ('1218986', 'intercept'): 1.0,
 ('1218986', 'age'): -0.7527162931131849,
 ('1218986', 'schoolyr'): -0.3970494589314543,
 ('1218986', 'schoolyr2'): -0.5113167803309351,
 ('1218986', 'uhrswork'): -0.1644873401078812,
 ('1218986', 'female'): -0.951446324098608,
 ('1240122', 'intercept'): 1.0,
 ('1240122', 'age'): -0.15576251866766155,
 ('1240122', 'schoolyr'): 1.3715315265818488,
 ('1240122', 'schoolyr2'): 1.5505578594467013,
 ('1240122', 'uhrswork'): -0.1644873401078812,
 ('1240122', 'female'): -0.951446324098608,
 ('1247651', 'intercept'): 1.0,
 ('1247651', 'age'): -0.7527162931131849,
 ('1247651', 'schoolyr'): -0.7507656560341149,
 ('1247651', 'schoolyr2'): -0.8438772061015216,
 ('1247651', 'uhrswork'): 1.1320284153548814,
 ('1247651', 'female'): -0.951446324098608,
 ('1257083', 'intercept'): 1.0,
 ('1257083', 'age'): -1.4491623632996287,
 ('1257083', 'schoolyr'): -0.3970494589314543,
 ('1257083', 'schoolyr2'): -0.5113167803309351,
 ('1257083', 'uhrswork'): -0.1644873401078812,
 ('1257083', 'female'): 1.0510314398948266,
 ('1294661', 'intercept'): 1.0,
 ('1294661', 'age'): -0.8522085888541054,
 ('1294661', 'schoolyr'): -1.1044818531367755,
 ('1294661', 'schoolyr2'): -1.1498327978104612,
 ('1294661', 'uhrswork'): -2.109260973302025,
 ('1294661', 'female'): 1.0510314398948266,
 ('1358970', 'intercept'): 1.0,
 ('1358970', 'age'): -1.6481469547814698,
 ('1358970', 'schoolyr'): 0.6640991323765276,
 ('1358970', 'schoolyr2'): 0.645993501350706,
 ('1358970', 'uhrswork'): -0.1644873401078812,
 ('1358970', 'female'): -0.951446324098608,
 ('1379405', 'intercept'): 1.0,
 ('1379405', 'age'): -1.0511931803359464,
 ('1379405', 'schoolyr'): 0.6640991323765276,
 ('1379405', 'schoolyr2'): 0.645993501350706,
 ('1379405', 'uhrswork'): -1.461003095570644,
 ('1379405', 'female'): -0.951446324098608,
 ('1381133', 'intercept'): 1.0,
 ('1381133', 'age'): 1.5356065089279878,
 ('1381133', 'schoolyr'): -0.3970494589314543,
 ('1381133', 'schoolyr2'): -0.5113167803309351,
 ('1381133', 'uhrswork'): -0.1644873401078812,
 ('1381133', 'female'): -0.951446324098608,
 ('1382054', 'intercept'): 1.0,
 ('1382054', 'age'): 0.7396681430006234,
 ('1382054', 'schoolyr'): -0.7507656560341149,
 ('1382054', 'schoolyr2'): -0.8438772061015216,
 ('1382054', 'uhrswork'): -0.034835764561604955,
 ('1382054', 'female'): 1.0510314398948266,
 ('1410156', 'intercept'): 1.0,
 ('1410156', 'age'): -0.5537317016313438,
 ('1410156', 'schoolyr'): -0.7507656560341149,
 ('1410156', 'schoolyr2'): -0.8438772061015216,
 ('1410156', 'uhrswork'): -0.6830936422929863,
 ('1410156', 'female'): 1.0510314398948266,
 ('1466541', 'intercept'): 1.0,
 ('1466541', 'age'): -0.2552548144085821,
 ('1466541', 'schoolyr'): 0.6640991323765276,
 ('1466541', 'schoolyr2'): 0.645993501350706,
 ('1466541', 'uhrswork'): -0.1644873401078812,
 ('1466541', 'female'): 1.0510314398948266,
 ('1584835', 'intercept'): 1.0,
 ('1584835', 'age'): 0.04322207281417956,
 ('1584835', 'schoolyr'): 0.6640991323765276,
 ('1584835', 'schoolyr2'): 0.645993501350706,
 ('1584835', 'uhrswork'): 0.0948158109846713,
 ('1584835', 'female'): -0.951446324098608,
 ('1615731', 'intercept'): 1.0,
 ('1615731', 'age'): -0.2552548144085821,
 ('1615731', 'schoolyr'): 0.6640991323765276,
 ('1615731', 'schoolyr2'): 0.645993501350706,
 ('1615731', 'uhrswork'): -0.1644873401078812,
 ('1615731', 'female'): -0.951446324098608,
 ('1649018', 'intercept'): 1.0,
 ('1649018', 'age'): 1.3366219174461467,
 ('1649018', 'schoolyr'): 0.6640991323765276,
 ('1649018', 'schoolyr2'): 0.645993501350706,
 ('1649018', 'uhrswork'): 0.0948158109846713,
 ('1649018', 'female'): -0.951446324098608,
 ('1691926', 'intercept'): 1.0,
 ('1691926', 'age'): -0.2552548144085821,
 ('1691926', 'schoolyr'): -0.3970494589314543,
 ('1691926', 'schoolyr2'): -0.5113167803309351,
 ('1691926', 'uhrswork'): -0.1644873401078812,
 ('1691926', 'female'): -0.951446324098608,
 ('1732214', 'intercept'): 1.0,
 ('1732214', 'age'): -1.150685476076867,
 ('1732214', 'schoolyr'): -0.7507656560341149,
 ('1732214', 'schoolyr2'): -0.8438772061015216,
 ('1732214', 'uhrswork'): -0.1644873401078812,
 ('1732214', 'female'): -0.951446324098608,
 ('1779114', 'intercept'): 1.0,
 ('1779114', 'age'): 1.2371296217052261,
 ('1779114', 'schoolyr'): 0.6640991323765276,
 ('1779114', 'schoolyr2'): 0.645993501350706,
 ('1779114', 'uhrswork'): -0.1644873401078812,
 ('1779114', 'female'): -0.951446324098608,
 ('1781427', 'intercept'): 1.0,
 ('1781427', 'age'): 1.4361142131870672,
 ('1781427', 'schoolyr'): 0.6640991323765276,
 ('1781427', 'schoolyr2'): 0.645993501350706,
 ('1781427', 'uhrswork'): -0.1644873401078812,
 ('1781427', 'female'): -0.951446324098608,
 ('1900217', 'intercept'): 1.0,
 ('1900217', 'age'): -1.349670067558708,
 ('1900217', 'schoolyr'): -0.3970494589314543,
 ('1900217', 'schoolyr2'): -0.5113167803309351,
 ('1900217', 'uhrswork'): -2.7575188510334065,
 ('1900217', 'female'): -0.951446324098608,
 ('1903973', 'intercept'): 1.0,
 ('1903973', 'age'): -0.2552548144085821,
 ('1903973', 'schoolyr'): -0.7507656560341149,
 ('1903973', 'schoolyr2'): -0.8438772061015216,
 ('1903973', 'uhrswork'): -0.8127452178392626,
 ('1903973', 'female'): -0.951446324098608,
 ('1914780', 'intercept'): 1.0,
 ('1914780', 'age'): 0.7396681430006234,
 ('1914780', 'schoolyr'): -0.3970494589314543,
 ('1914780', 'schoolyr2'): -0.5113167803309351,
 ('1914780', 'uhrswork'): -1.7203062466631964,
 ('1914780', 'female'): 1.0510314398948266,
 ('1947436', 'intercept'): 1.0,
 ('1947436', 'age'): 0.24220666429602067,
 ('1947436', 'schoolyr'): -0.7507656560341149,
 ('1947436', 'schoolyr2'): -0.8438772061015216,
 ('1947436', 'uhrswork'): -0.1644873401078812,
 ('1947436', 'female'): -0.951446324098608,
 ('1965251', 'intercept'): 1.0,
 ('1965251', 'age'): 0.5406835515187823,
 ('1965251', 'schoolyr'): -0.04333326182879369,
 ('1965251', 'schoolyr2'): -0.15215152049870165,
 ('1965251', 'uhrswork'): -0.1644873401078812,
 ('1965251', 'female'): -0.951446324098608,
 ('1982261', 'intercept'): 1.0,
 ('1982261', 'age'): -0.2552548144085821,
 ('1982261', 'schoolyr'): -0.7507656560341149,
 ('1982261', 'schoolyr2'): -0.8438772061015216,
 ('1982261', 'uhrswork'): 0.8727252642623289,
 ('1982261', 'female'): 1.0510314398948266,
 ('2011631', 'intercept'): 1.0,
 ('2011631', 'age'): 0.24220666429602067,
 ('2011631', 'schoolyr'): -0.04333326182879369,
 ('2011631', 'schoolyr2'): -0.15215152049870165,
 ('2011631', 'uhrswork'): -0.1644873401078812,
 ('2011631', 'female'): 1.0510314398948266,
 ('2043113', 'intercept'): 1.0,
 ('2043113', 'age'): 1.6350988046689083,
 ('2043113', 'schoolyr'): 0.6640991323765276,
 ('2043113', 'schoolyr2'): 0.645993501350706,
 ('2043113', 'uhrswork'): 1.1320284153548814,
 ('2043113', 'female'): -0.951446324098608,
 ('2055629', 'intercept'): 1.0,
 ('2055629', 'age'): 1.5356065089279878,
 ('2055629', 'schoolyr'): -0.7507656560341149,
 ('2055629', 'schoolyr2'): -0.8438772061015216,
 ('2055629', 'uhrswork'): -1.2016999444780914,
 ('2055629', 'female'): 1.0510314398948266,
 ('2067068', 'intercept'): 1.0,
 ('2067068', 'age'): 0.04322207281417956,
 ('2067068', 'schoolyr'): -0.3970494589314543,
 ('2067068', 'schoolyr2'): -0.5113167803309351,
 ('2067068', 'uhrswork'): 1.1320284153548814,
 ('2067068', 'female'): -0.951446324098608,
 ('2075814', 'intercept'): 1.0,
 ('2075814', 'age'): -0.6532239973722643,
 ('2075814', 'schoolyr'): -0.7507656560341149,
 ('2075814', 'schoolyr2'): -0.8438772061015216,
 ('2075814', 'uhrswork'): -0.8127452178392626,
 ('2075814', 'female'): 1.0510314398948266,
 ('2076997', 'intercept'): 1.0,
 ('2076997', 'age'): -0.6532239973722643,
 ('2076997', 'schoolyr'): 1.3715315265818488,
 ('2076997', 'schoolyr2'): 1.5505578594467013,
 ('2076997', 'uhrswork'): -0.1644873401078812,
 ('2076997', 'female'): 1.0510314398948266,
 ('2106892', 'intercept'): 1.0,
 ('2106892', 'age'): 0.9386527344824646,
 ('2106892', 'schoolyr'): 1.3715315265818488,
 ('2106892', 'schoolyr2'): 1.5505578594467013,
 ('2106892', 'uhrswork'): 0.4837705376235001,
 ('2106892', 'female'): -0.951446324098608,
 ('2118654', 'intercept'): 1.0,
 ('2118654', 'age'): -1.150685476076867,
 ('2118654', 'schoolyr'): 1.3715315265818488,
 ('2118654', 'schoolyr2'): 1.5505578594467013,
 ('2118654', 'uhrswork'): -0.1644873401078812,
 ('2118654', 'female'): 1.0510314398948266,
 ('2191130', 'intercept'): 1.0,
 ('2191130', 'age'): -0.4542394058904232,
 ('2191130', 'schoolyr'): -0.7507656560341149,
 ('2191130', 'schoolyr2'): -0.8438772061015216,
 ('2191130', 'uhrswork'): -0.1644873401078812,
 ('2191130', 'female'): -0.951446324098608,
 ('2198431', 'intercept'): 1.0,
 ('2198431', 'age'): -1.0511931803359464,
 ('2198431', 'schoolyr'): -0.3970494589314543,
 ('2198431', 'schoolyr2'): -0.5113167803309351,
 ('2198431', 'uhrswork'): -0.1644873401078812,
 ('2198431', 'female'): 1.0510314398948266,
 ('2229267', 'intercept'): 1.0,
 ('2229267', 'age'): -0.15576251866766155,
 ('2229267', 'schoolyr'): -0.04333326182879369,
 ('2229267', 'schoolyr2'): -0.15215152049870165,
 ('2229267', 'uhrswork'): -2.109260973302025,
 ('2229267', 'female'): 1.0510314398948266,
 ('2293105', 'intercept'): 1.0,
 ('2293105', 'age'): 0.04322207281417956,
 ('2293105', 'schoolyr'): -0.7507656560341149,
 ('2293105', 'schoolyr2'): -0.8438772061015216,
 ('2293105', 'uhrswork'): 1.909937868632539,
 ('2293105', 'female'): -0.951446324098608,
 ('2326764', 'intercept'): 1.0,
 ('2326764', 'age'): 0.9386527344824646,
 ('2326764', 'schoolyr'): -1.8119142473420968,
 ('2326764', 'schoolyr2'): -1.6819294790433996,
 ('2326764', 'uhrswork'): -2.109260973302025,
 ('2326764', 'female'): -0.951446324098608,
 ('2336011', 'intercept'): 1.0,
 ('2336011', 'age'): -0.4542394058904232,
 ('2336011', 'schoolyr'): -0.7507656560341149,
 ('2336011', 'schoolyr2'): -0.8438772061015216,
 ('2336011', 'uhrswork'): -0.1644873401078812,
 ('2336011', 'female'): -0.951446324098608,
 ('2344765', 'intercept'): 1.0,
 ('2344765', 'age'): 1.038145030223385,
 ('2344765', 'schoolyr'): -0.7507656560341149,
 ('2344765', 'schoolyr2'): -0.8438772061015216,
 ('2344765', 'uhrswork'): -2.109260973302025,
 ('2344765', 'female'): -0.951446324098608,
 ('2366479', 'intercept'): 1.0,
 ('2366479', 'age'): -0.056270222926741,
 ('2366479', 'schoolyr'): 1.3715315265818488,
 ('2366479', 'schoolyr2'): 1.5505578594467013,
 ('2366479', 'uhrswork'): -0.1644873401078812,
 ('2366479', 'female'): -0.951446324098608,
 ('2367521', 'intercept'): 1.0,
 ('2367521', 'age'): -0.4542394058904232,
 ('2367521', 'schoolyr'): -0.7507656560341149,
 ('2367521', 'schoolyr2'): -0.8438772061015216,
 ('2367521', 'uhrswork'): -0.1644873401078812,
 ('2367521', 'female'): 1.0510314398948266,
 ('2433076', 'intercept'): 1.0,

In [19]:
ampl.set_option('solver', 'highs')
ampl.set_option('highs_options', 'primal_feasibility_tolerance=1e-9 dual_feasibility_tolerance=1e-9')

ampl.solve()
beta_pos = ampl.get_variable('bplus').get_values()
beta_neg = ampl.get_variable('bminus').get_values()

bp = beta_pos.to_pandas()
bn = beta_neg.to_pandas()  

print(bp)
print(bn)

HiGHS 1.11.0:   alg:feastol = 1.0000000000000001e-09
  alg:dualfeastol = 1.0000000000000001e-09
HiGHS 1.11.0: optimal solution; objective 517287.1811
0 simplex iterations
0 barrier iterations
           bplus.val
age         2.699133
female      0.000000
intercept  27.819304
schoolyr    0.000000
schoolyr2  11.010954
uhrswork    2.874897
           bminus.val
age          0.000000
female       4.348720
intercept    0.000000
schoolyr     0.086296
schoolyr2    0.000000
uhrswork     0.000000

In [20]:
betas = bp['bplus.val'] - bn['bminus.val']

print(betas, 'Final Betas')

age           2.699133
female       -4.348720
intercept    27.819304
schoolyr     -0.086296
schoolyr2    11.010954
uhrswork      2.874897
dtype: float64 Final Betas

Sanity Check
============

In [21]:
# Make sure y and X have string indices (to match sampled_cars)
y_sm = y.copy()
X_sm = X.copy()

y_sm.index = y_sm.index.astype(str)
X_sm.index = X_sm.index.astype(str)

# Subset using the SAME sampled_cars used in AMPL
y_sm = y_sm.loc[sampled_cars]
X_sm = X_sm.loc[sampled_cars]
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_sm)
X_scaled_df = pd.DataFrame(
    X_scaled,
    columns = X_sm.columns,
    index   = X_sm.index
)
X_scaled_const = sm.add_constant(X_scaled_df)


model = sm.OLS(y_sm, X_scaled_const)
results = model.fit_regularized(method='elastic_net', L1_wt=1.0, alpha=0.1)

for variable, coefficient in results.params.items():
    print(f"{variable}: {round(coefficient, 5)}")

const: 27.87116
age: 2.69987
schoolyr: 0.0
schoolyr2: 10.98868
uhrswork: 2.91114
female: -4.41649

Results
------
As we can see the results are also extremly simliar. It seems like our lasso regression model using AMPL works. There are for sure ways to optamize our model however, for learning purposes this was very fufilling.

In [24]:
df_x_test
X_sm
y_sm

2737         0.000000
44976       51.416122
84484       17.647058
127323      34.313725
131266       0.000000
              ...
26317098    52.941177
26388754    18.556702
26402003    27.450981
26415306    50.108932
26488091    49.019608
Name: wage, Length: 800, dtype: float64